{% extends 'shared/base.html' %}
{% block title %}
    <title>homepage</title>
{% endblock %}

{% block content %}
    <h1 class="text-center">stock prices</h1>
    <hr>
    <div>
        {% if error %}
            <h1 class="text-center">there is a problem. please try again</h1>
            <h2 class="text-center">remember that you must enter symbol(btc) not complete name</h2>
        {% endif %}
        {% if data %}
            {#            <img src="{{ data.IMAGEURL.url }}" alt="{{ data.IMAGEURL }}">#}
            <h1>currency name: {{ data.FROMSYMBOL }}</h1><br>
            <p>price:{{ data.PRICE }}</p>
            <p>high day price:{{ data.HIGHDAY }}</p>
            <p>low day price:{{ data.LOWDAY }}</p>
            <p>open day price:{{ data.OPENDAY }}</p>
            <p>market cap:{{ data.MKTCAP }}</p>
            <p>supply:{{ data.SUPPLY }}</p>
            <hr>
        {% else %}
            <br>
            <br>
            <div class="card text-center">
                <div class="card-header">
                    warning
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        if you looking a currnecy details use (get quote stock) search
                        box for search your favorite currency
                    </h4>
                    <h5 class="card-text">if you want your portfolio details click: go to
                        stcok page</h5>
                    <a href="{% url 'stock_page' %}" class="btn btn-primary">Go stock page</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}