{% extends 'shared/base.html' %}
{% block title %}
    <title>about page</title>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>this is stock page</h1>
        <form class="d-flex" role="search" action="{% url 'stock_page' %}" method="post"
              autocomplete="off">
            {% csrf_token %}
            {#            {{ form }}#}
            <input class="form-control me-2 text-center" type="search" placeholder="add stock"
                   aria-label="Search" name="name">
            <button class="btn btn-outline-secondary" type="submit">add</button>
        </form>
    </div>
    <div class="mb-5">
        {% if stocks %}
            <table class="table table-striped table-hover table-bordered mt-5">
                <thead class="table-dark">
                <tr>
                    <th class="text-center" scope="col">Number</th>
                    <th class="text-center" scope="col">Currency symbol</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">High Day</th>
                    <th class="text-center" scope="col">Low Day</th>
                    <th class="text-center" scope="col">Open Day</th>
                    <th class="text-center" scope="col">Market Cap</th>
                    <th class="text-center" scope="col">Supply</th>
                    <th class="text-center" scope="col">Delete currency</th>
                </tr>
                </thead>
                <tbody>
                {% for stock_item in stock_items %}
                    <tr>
                        {#                    todo:next time add 3digits to prices#}
                        <th class="text-center" scope="row">{{ forloop.counter }}</th>
                        <td class="text-center">{{ stock_item.FROMSYMBOL }}</td>
                        <td class="text-center">$ {{ stock_item.PRICE }}</td>
                        <td class="text-center">$ {{ stock_item.HIGHDAY }}</td>
                        <td class="text-center">$ {{ stock_item.LOWDAY }}</td>
                        <td class="text-center">$ {{ stock_item.OPENDAY }}</td>
                        <td class="text-center">$ {{ stock_item.MKTCAP }}</td>
                        <td class="text-center">{{ stock_item.SUPPLY }}</td>
                        <td class="text-center">
                            <a href="{% url 'delete_stock' stock_symbol=stock_item.FROMSYMBOL %}"
                               class="btn
                            btn-secondary">
                                <span aria-hidden="true">Delete</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="text-center">there is no currency in database!! add one with search box</h2>
        {% endif %}
    </div>
    <hr>
{% endblock %}
